# Dependencies
node_modules/

# Environment variables
.env
.env.*
*.env
*.env.local

# Build files
dist/
build/

# Logs
logs/
*.log

# macOS
.DS_Store

# Postman
postman_collection.json
*postman_collection.json